  <h4>Add a comment:</h4>
<tr>
  <%= form_for @new_comment do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.text_field :content %> 
    </div>
    <div class="actions">
      <%= f.submit "Submit Comment" %>
    </div>
  <% end %>
</tr>
