<!DOCTYPE html>
<html>
  <head>
    <title>WWCA Requests | About</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      The WWCA is located in Menlo Park, CA.  This is a private 
      website for owners in the Association to submit and monitor
      the status of requests to the Property Manager and the 
      Association.
    </p><p>
      If you are a new WWCA and have not yet received your login
      information, contact the Property Manager.
    </p><p>
      If you are a departing owner, we will miss you.
      You no longer have access to this site.  Please contact
      the Property Manager if there are any unresolved issues.
    </p>
  </body>
</html>
