    <h1>WWCA Requests</h1>
    <p>
      Welcome to the WWCA.  
    </p>
    <p>
      <i>Please note that these pages are a work in progress.
      They will look much nicer later -- I'm waiting to see 
      what Ruby and Ruby on Rails can do for us.</i>
    </p>
    <% if signed_in? %>
      <a id="is_signed_in"></a>
      <p>Make and view requests to the Association here.</p>
      <p>(placeholder for recent news or link to requests)</p>
    <% else %>
      <%= link_to "Sign in", signin_path, :class => "signin_button round" %>
    <% end %>
