    <h1>WWCA Requests</h1>
    <p>
      Welcome to the WWCA.  Make and view requests to the Association here.
    </p>
    <p>
      <i>Please note that these pages are a work in progress.
      They will look much nicer later -- I'm waiting to see 
      what Ruby and Ruby on Rails can do for us.</i>
    </p>
    <%= link_to "Sign in", signin_path, :class => "signin_button round" %>
