<footer>
  <nav class="round">
    <br>Copyright 2011</br>
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Login", '#' %></li>
   </ul>

   <br>Logo by Jodie Stowe - <a href="http://stowedesign.com">Stowe Design</a>
   </br>
  </nav>
</footer>

