<!DOCTYPE html>
<html>
  <head>
    <title>WWCA Requests | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div>
    <table bgcolor="red">
      <tr><td></td></tr>
      <tr><td></td><font color="white">Logout Link will go here.
          </font></tr>
    </table>
    </div>
    <%= yield %>
  <body>
</html>
